@media (min-width: 830px) and (max-width: 1399px){
    .wrapper{
        max-width: 1399px;
        min-width: 830px;
    }
    .info-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 56px;
        margin-left: 72px;
        margin-right: 86px;
    }
    header{
        width: 830px;
        margin: 0 auto;
    }
    header h1{
        font-size: 32px;
    }
    main{
        margin: 0 auto;
        margin-bottom: 70px;
        justify-content: space-between;
        width: 834px;
    }
    .paragraf{
        width: 383px;
        height: 216px;

    }
    .paragraf p{
        font-size: 14px;
    }
    .img_1{
        width: 181px;
        height: 182px;
    }
    .img_1 .img_1_1{
        position: absolute;
        left: 30px;
        width: 181px;
        height: 182px;
    }
    .img_1 .img_1_2{
        width: 211px;
        height: 34px;
        top: 165px;
        left: 16px;
    }
    footer{
        width: 830px;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    footer .img_2{
        display: none;
    }
    .footer_p div{
        width: 86px;
        height: 22px;
        margin-right: 55px;
        font-size: 11px;
    }
    .footer_p h3{
        font-size: 15px;
    }
}
